In [3]:
# !pip install sqlalchemy psycopg2 panda

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (1.4.25)
Requirement already satisfied: psycopg2 in /usr/local/lib/python3.7/dist-packages (2.7.6.1)
Collecting panda
  Downloading panda-0.3.1.tar.gz (5.8 kB)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy) (1.1.2)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy) (4.8.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from panda) (57.4.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from panda) (2.23.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy) (3.6.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy) (3.7.4.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->panda) (2021.5.30)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->panda) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->panda) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->panda) (3.0.4)
Building wheels for collected packages: panda
  Building wheel for panda (setup.py) ... done
  Created wheel for panda: filename=panda-0.3.1-py3-none-any.whl size=7255 sha256=83a23520fa59d3d548bc20db6ecfbed039a77a1868dd690aae69bcd0280e6769
  Stored in directory: /root/.cache/pip/wheels/e6/3d/81/a3665ce657d35359ca337b1db2975dbe5cd281a88b8982f6b6
Successfully built panda
Installing collected packages: panda
Successfully installed panda-0.3.1

In [31]:
import sqlalchemy
from sqlalchemy import create_engine
db_string = "postgresql://wbauer_adb:adb2020@pgsql-196447.vipserv.org:5432/wbauer_adb"

db = create_engine(db_string)
connection_sqlalchemy = db.connect()

In [32]:
result_set = db.execute("SELECT * FROM city")  
# for r in result_set:  
    # print(r)

In [33]:
import psycopg2 as pg
import pandas as pd

df = pd.read_sql('select * from city',con=connection_sqlalchemy)

In [34]:
df

     city_id                city  country_id         last_update
0          1  A Corua (La Corua)          87 2006-02-15 09:45:25
1          2                Abha          82 2006-02-15 09:45:25
2          3           Abu Dhabi         101 2006-02-15 09:45:25
3          4                Acua          60 2006-02-15 09:45:25
4          5               Adana          97 2006-02-15 09:45:25
..       ...                 ...         ...                 ...
595      596               Zaria          69 2006-02-15 09:45:25
596      597        Zeleznogorsk          80 2006-02-15 09:45:25
597      598         Zhezqazghan          51 2006-02-15 09:45:25
598      599            Zhoushan          23 2006-02-15 09:45:25
599      600          Ziguinchor          83 2006-02-15 09:45:25

[600 rows x 4 columns]

**Ile kategorii filmów mamy w wypożyczalni?**

In [36]:
# df = pd.read_sql('select count(*) from category',con=connection_sqlalchemy)
df = pd.read_sql('select count (distinct category_id) from film_category where film_id in (select distinct film_id from inventory)',con=connection_sqlalchemy)
df

   count
0     16

**Wyświetl listę kategorii w kolejności alfabetycznej**

In [23]:
df = pd.read_sql('select * from category order by name asc',con=connection_sqlalchemy)
df

    category_id         name         last_update
0             1       Action 2006-02-15 09:46:27
1             2    Animation 2006-02-15 09:46:27
2             3     Children 2006-02-15 09:46:27
3             4     Classics 2006-02-15 09:46:27
4             5       Comedy 2006-02-15 09:46:27
5             6  Documentary 2006-02-15 09:46:27
6             7        Drama 2006-02-15 09:46:27
7             8       Family 2006-02-15 09:46:27
8             9      Foreign 2006-02-15 09:46:27
9            10        Games 2006-02-15 09:46:27
10           11       Horror 2006-02-15 09:46:27
11           12        Music 2006-02-15 09:46:27
12           13          New 2006-02-15 09:46:27
13           14       Sci-Fi 2006-02-15 09:46:27
14           15       Sports 2006-02-15 09:46:27
15           16       Travel 2006-02-15 09:46:27

**Znajdź najstarszy i najmłodszy film do wypożyczenia**

In [27]:
# df = pd.read_sql('select * from category',con=connection_sqlalchemy)
df = pd.read_sql('select * from film',con=connection_sqlalchemy)
df

     film_id  ...                                           fulltext
0        133  ...  'chamber':1 'fate':4 'husband':11 'italian':2 ...
1        384  ...  'australia':18 'cat':8 'drama':5 'epic':4 'exp...
2          8  ...  'airport':1 'ancient':18 'confront':14 'epic':...
3         98  ...  'boat':20 'bright':1 'conquer':14 'encount':2 ...
4          1  ...  'academi':1 'battl':15 'canadian':20 'dinosaur...
..       ...  ...                                                ...
995      996  ...  'administr':12 'boat':8 'boy':17 'databas':11 ...
996      997  ...  'boat':22 'cat':11 'challeng':14 'drama':5 'ki...
997      998  ...  'boy':16 'canadian':19 'compos':8 'core':2 'fa...
998      999  ...  'ancient':19 'boat':11 'china':20 'discov':14 ...
999     1000  ...  'ark':2 'boy':12,17 'intrepid':4 'mad':8 'mona...

[1000 rows x 13 columns]

**Ile wypożyczeń odbyło się między 2005-07-01 a 2005-08-01?**

In [38]:
df = pd.read_sql('select count(*) from rental where rental_date >= \'2005-07-01\' and rental_date < \'2005-08-01\'',con=connection_sqlalchemy)
df

   count
0   6709

**Ile wypożyczeń odbyło się między 2010-01-01 a 2011-02-01?**

In [39]:
df = pd.read_sql('select count(*) from rental where rental_date >= \'2010-01-01\' and rental_date < \'2011-02-01\'',con=connection_sqlalchemy)
df

   count
0      0

**Znajdź największą płatność wypożyczenia.**

In [40]:
df = pd.read_sql('select * from payment order by amount desc',con=connection_sqlalchemy)
df

       payment_id  customer_id  ...  amount               payment_date
0           23757          116  ...   11.99 2007-03-21 22:02:26.996577
1           28814          592  ...   11.99 2007-04-06 21:26:57.996577
2           29136           13  ...   11.99 2007-04-29 21:06:07.996577
3           22650          204  ...   11.99 2007-03-22 22:17:22.996577
4           28799          591  ...   11.99 2007-04-07 19:14:17.996577
...           ...          ...  ...     ...                        ...
14591       31942          354  ...    0.00 2007-05-14 13:44:29.996577
14592       32060          155  ...    0.00 2007-05-14 13:44:29.996577
14593       32079          208  ...    0.00 2007-05-14 13:44:29.996577
14594       32024           42  ...    0.00 2007-05-14 13:44:29.996577
14595       31966          448  ...    0.00 2007-05-14 13:44:29.996577

[14596 rows x 6 columns]

**Znajdź wszystkich klientów z Polski, Nigerii lub Bangladeszu.**

In [43]:
# df = pd.read_sql('select * from customer where address_in in (select address_id from address where city_id in (select city_id from city where country_id in (select country_id from country where country="Poland" or country="Nigeria" or country="Bangladesh")))',con=connection_sqlalchemy)
df = pd.read_sql('select * from country where country = "Poland"',con=connection_sqlalchemy)
df

ProgrammingError: ignored

**Gdzie mieszkają członkowie personelu?**

**Ilu pracowników mieszka w Argentynie lub Hiszpanii?**

**Jakie kategorie filmów zostały wypożyczone przez klientów?**

**Znajdź wszystkie kategorie filmów wypożyczonych w Ameryce.**

**Znajdź wszystkie tytuły filmów, w których grał: Olympia Pfeiffer lub Julia Zellweger lub Ellen Presley**